
# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Tokens Configuration
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRES_IN=refresh_token_expires_in
ACCESS_TOKEN_SECRET=your_access_token_secret_here 
ACCESS_TOKEN_EXPIRES_IN=access_token_expires_in

# Postman API Documentation URL
POSTMAN_API_DOCUMENTATION_URL=postman_api_documentation_url
